.latestBlogArea {
    margin-bottom: 80px;
}
.areaHeading {
    margin-bottom: 10px;
    margin-top: 15px; 
    margin-left: 170px;
    margin-right: 170px;
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Trebuchet MS', sans-serif;*/
    text-align: left;
}
.areaHeading h3 {
    font-size: 45px;
    color: #1d1d1d;
    position: relative;
    font-weight: 900; }
.areaHeading h4 {
    font-size: 26px;
    color: #1d1d1d;
    position: relative;
    font-weight: 400; }
.areaHeading p {
    font-size: 18px;
    color: #7f7f7f; }
.areaHeading .line:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 5px;
    background: #1a68b2;
    left: 50%;
    transform: translateX(-50%);
    top: -16px; }
.areaHeading .line:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background: #1a68b2;
    left: 50%;
    transform: translateX(-50%);
    top: -14px; 
}
.link p2 {
    font-size: 26px;
    color: #1a68b2;
    font-weight: 600;
    margin-left: 170px;
    font-family: 'Poppins', sans-serif;
}