.aboutArea {
    position: relative;
    width: 32%;
    /*background-image: url(../img/logo.jpg);*/
    background-position: center center;
    background-repeat: no-repeat;
    right: -51em;
}
.areaHeading {
    margin-bottom: 115px;
    text-align: center;
    margin-top: 15px; 
}
.areaHeading h4 {
    font-size: 48px;
    color: #1d1d1d;
    font-family: "Poppins", sans-serif;
    position: relative;
}
.areaHeading p {
    font-size: 18px;
    color: #7f7f7f; 
}