.figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}

  .banner_content h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .banner_content p {
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 50px;
  }
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    bottom: 0;
    z-index: -1;
  }
  .pic_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .pic_1 {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(22, 22, 22, 0.3)),
        color-stop(85%, rgba(22, 22, 22, 0.7)),
        to(#161616)
      ),
      url("/images/frc.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .pic_2 {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(22, 22, 22, 0.3)),
        color-stop(85%, rgba(22, 22, 22, 0.7)),
        to(#161616)
      ),
      url("/images/ftc.png") no-repeat center center;
    animation-delay: 6s;
    -o-animation-delay: 6s;
    -moz--animation-delay: 6s;
    -webkit-animation-delay: 6s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .pic_3 {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(22, 22, 22, 0.3)),
        color-stop(85%, rgba(22, 22, 22, 0.7)),
        to(#161616)
      ),
      url("/images/legoleague.jpg") no-repeat center center;
    animation-delay: 12s;
    -o-animation-delay: 12s;
    -moz--animation-delay: 12s;
    -webkit-animation-delay: 12s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .pic_4 {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(22, 22, 22, 0.3)),
        color-stop(85%, rgba(22, 22, 22, 0.7)),
        to(#161616)
      ),
      url("/images/eve.jpg") no-repeat center center;
  
    animation-delay: 18s;
    -o-animation-delay: 18s;
    -moz--animation-delay: 18s;
    -webkit-animation-delay: 18s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  @keyframes slideShow {
    0% {
      opacity: 0;
      transform: scale(1);
      -ms-transform: scale(1);
    }
    5% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    30% {
      opacity: 0;
      transform: scale(1.1);
      -ms-transform: scale(1.1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
      -ms-transformm: scale(1);
    }
  }
  @-o-keyframes slideShow {
    0% {
      opacity: 0;
      -o-transform: scale(1);
    }
    5% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    30% {
      opacity: 0;
      -o-transform: scale(1.1);
    }
    100% {
      opacity: 0;
      -o-transformm: scale(1);
    }
  }
  @-moz-keyframes slideShow {
    0% {
      opacity: 0;
      -moz-transform: scale(1);
    }
    5% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    30% {
      opacity: 0;
      -moz-transform: scale(1.1);
    }
    100% {
      opacity: 0;
      -moz-transformm: scale(1);
    }
  }
  @-webkit-keyframes slideShow {
    0% {
      opacity: 0;
      -webkit-transform: scale(1);
    }
    5% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    30% {
      opacity: 0;
      -webkit-transform: scale(1.1);
    }
    100% {
      opacity: 0;
      -webkit-transformm: scale(1);
    }
  }
  